body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex-direction: row;
  flex: auto;
  height: 60vh;
}
article {
  flex: 2;
  overflow-y: auto;
  background-color: rgba(0, 255, 255, 0.433);
}
article h2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(195, 47, 133);
    font-size: x-large;
    margin-left: 10px;
}
article p{
    text-align: center;
    font-size: larger;
    width: 50%;
    margin-left: 16rem;
}
aside {
  flex: 1;
  overflow-y: auto;
  background-color: rgba(255, 228, 196, 0.738);
}
aside h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size: x-large;
    margin-left: 10px;
    color: rgb(11, 126, 183);
}
aside p {
    width: 70%;
    margin-left: 5rem;
    font-size: larger;
    text-align: center;
}
header {
    height: 20vh;
    display: flex;
    flex-direction: column;
    background-color: lightgreen;   
}
a {
  text-decoration: none;
}
header h1 {
    color: gold;
    background-color: black;
    border: solid black;
    margin-left: 10px;
    width: 16rem;
    text-align: center;
    font-size: xx-large;
    border-radius: 15px;
}
footer {
  background-color: rgba(216, 112, 147, 0.604);
  height: 20vh;
  text-align: center;
}
footer h1 {
    margin-left: 40%;
    margin-top: 30px;
    border: dashed;
    border-radius: 15px;
    width: 15rem;
    
}

.logo {
    text-align: center;
    border: solid;
    width: 1.7rem; 
    height: 1.7rem; 
    background-color: black;
    margin-left: 10px;
}